<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <connectionStrings>
        <add name="connection" connectionString="Data Source=DESKTOP-B1L5VUV\\SQLEXPRESS;Initial Catalog=Spital;Integrated Security=True"/>
    </connectionStrings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <!--<appSettings>
        <add key="parentTable" value="Sectie"/>
        <add key="parentTablePrimaryKey" value="SectieID"/>
        <add key="childTable" value="Doctor"/>
        <add key="childTablePrimaryKey" value="DoctorID"/>
        <add key="childTableForeignKey" value="SectieID"/>
        <add key="NumberOfColumns" value="4"/>
        <add key="ColumnNames" value="Nume,Specializare,SectieID"/>
        <add key="ColumnNamesInsertParameters" value="@Nume,@Specializare,@SectieID"/>
        <add key="UpdateQuery" value="UPDATE Doctor SET Nume=@Nume,Specializare=@Specializare,SectieID=@SectieID WHERE DoctorID=@ChildID"/>
    </appSettings>
    -->


    <appSettings>
        <add key="parentTable" value="Doctor"/>
        <add key="parentTablePrimaryKey" value="DoctorID"/>
        <add key="childTable" value="Pacient"/>
        <add key="childTablePrimaryKey" value="PacientID"/>
        <add key="childTableForeignKey" value="DoctorID"/>
        <add key="NumberOfColumns" value="5"/>
        <add key="ColumnNames" value="Nume,Diagnostic,Telefon,DoctorID"/>
        <add key="ColumnNamesInsertParameters" value="@Nume,@Diagnostic,@Telefon,@DoctorID"/>
        <add key="UpdateQuery" value="UPDATE Pacient SET Nume=@Nume,Diagnostic=@Diagnostic,Telefon=@Telefon,DoctorID=@DoctorID WHERE PacientID=@ChildID"/>
    </appSettings>
    
</configuration>